# Dependencies
/node_modules/
/.pnp
.pnp.js

# Production build
/build/
/dist/

# Environment variables
.env
.env.*
!.env.example

# Testing
/coverage/

# IDE
.idea/
.vscode/
*.iml

# Caches
.cache/
.eslintcache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db